#timer {
    height: 100px;
    width: 100px;
    position: fixed;
    left: 50%;
    margin-left: -50px;
    z-index: 1;
}

#timertext {
    text-align: center;
    font-size: 84px;
    margin: 0 2.5%;
    color: #fff;
    padding: 20px;
    width: 20%;
    border-radius: 20px;
    box-sizing: border-box;
    background: #00ff88;
}
